* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-weight: 300;
  margin-left: 30px; }

.navbar {
  background-color: #00404a;
  height: 50px;
  padding: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 20px; }
  .navbar span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }

.logo {
  width: 30px;
  position: relative; }

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-links li {
    padding: 5px;
    font-weight: 300;
    color: #edf2f3;
    font-size: 12px; }
  .nav-links li:hover {
    background-color: #21565f;
    border: transparent;
    border-radius: 5px;
    cursor: pointer; }

.main-card {
  border: solid #007389 1px;
  border-radius: 3px;
  width: 95%;
  margin: 0 auto;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.field-details {
  padding: 0px 20px 0px 20px;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px; }
  .form input, .form label {
    width: 90%; }
  .form input {
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 5px;
    border: solid #abc9cc 1px;
    border-radius: 3px;
    outline: none; }
  .form input:focus {
    border: solid #007389 1px; }
  .form p {
    font-size: 8px;
    margin-top: -25px;
    margin-bottom: 20px; }

.column1, .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.result h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px; }

.tag-heading {
  margin-bottom: 0;
  font-size: 16px; }

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tag-container div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .tag-container div h4 {
      font-weight: 400;
      font-size: 14px; }
    .tag-container div p {
      font-size: 12px; }
    .tag-container div ul {
      list-style: none;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .tag-container div ul li {
        font-size: 12px;
        padding: 5px;
        border: solid #abc9cc 1px;
        background-color: #ebf2f4;
        color: #007389;
        border-radius: 3px;
        margin-right: 5px; }
      .tag-container div ul li:hover {
        cursor: pointer;
        background-color: #007389;
        color: white; }

.field-container {
  width: 25%;
  height: 100%;
  background-color: #ebf2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .field-container ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 0; }

.filter-label, .filter-input {
  width: 75%;
  margin-bottom: 0; }

.filter-input {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  border: solid #abc9cc 1px;
  border-radius: 3px;
  outline: none; }

.filter-input:focus {
  border: solid #007389 1px; }

.field {
  background-color: white;
  padding: 10px;
  width: 75%;
  margin: 20px auto;
  border: solid #abc9cc 1px;
  border-radius: 3px; }
  .field p, .field h2, .field h3 {
    margin: 0; }
  .field h2 {
    font-size: 16px; }
  .field h3 {
    font-size: 10px;
    margin-top: 10px; }
  .field p {
    font-size: 12px; }

.field:hover {
  cursor: pointer;
  background-color: #007389;
  color: white; }

.field-groups {
  width: 25%;
  height: 75%;
  border: solid black 1px;
  margin-right: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px; }
  .field-groups h3, .field-groups p {
    width: 100%;
    padding-left: 10px; }
  .field-groups h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px; }
  .field-groups p {
    font-size: 10px;
    margin-top: 0;
    padding-top: 0; }
  .field-groups .button-container {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    width: 100%;
    text-align: center; }
    .field-groups .button-container button {
      width: 95%;
      padding: 5px;
      border: solid #abc9cc 1px;
      border-radius: 3px;
      outline: none; }
    .field-groups .button-container button:hover {
      cursor: pointer;
      background-color: #007389;
      color: white; }
